<br>
<h1>{{titleData}}</h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="galleryData">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url('+ (galleryData[0] | movieImg ) +' )' }"></div>
        </div>
        <div class="row">
            <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (galleryData[1] | movieImg ) +' )' }"> </div>
            <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (galleryData[2] | movieImg ) +' )' }"> </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (galleryData[3] | movieImg ) +' )' }"> </div>
            <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+ (galleryData[4] | movieImg ) +' )' }"> </div>
        </div>
        <div class="row">
            <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url('+ (galleryData[5] | movieImg ) +' )' }"></div>
        </div>
    </div>
</div>