<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> <img src="../../../assets/logo_round.png" width="100" height="100" alt="">&nbsp;&nbsp;TV & Movies</h1>
        <p class="lead">The latest and most popular movies and tv shows!</p>
    </div>
</div>

<div class="container">
    <br>

    <h1>Movies in theaters</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url( )'}"></div>
            </div>
            <div class="row">
                <div class="col-sm-6 div-pic-2"> </div>
                <div class="col-sm-6 div-pic-2"> </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6 div-pic-2"> </div>
                <div class="col-sm-6 div-pic-2"> </div>
            </div>
            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url( )'}"></div>
            </div>
        </div>

    </div>
</div>