<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> <img src="../../../assets/logo_round.png" width="100" height="100" alt="">&nbsp;&nbsp;TV & Movies</h1>
        <p class="lead">The latest and most popular movies and tv shows!</p>
    </div>
</div>

<div class="container">
    <br>

    <app-gallery [galleryData]="moviesonTheaters|slice:0:6" titleData="Movies on Theaters"></app-gallery>
    <app-gallery [galleryData]="popularmovies|slice:0:6" titleData="Popular Movies"></app-gallery>
    <app-gallery [galleryData]="showsOnTv|slice:0:6" titleData="Shows on TV"></app-gallery>
    <app-gallery [galleryData]="popularShows|slice:0:6" titleData="Popular Shows"></app-gallery>

</div>