<!-- TV  shows -->
<div *ngIf="showOrMovie && showOrMovie.first_air_date" class="container main-container animated fadeIn fast">
    <h1>{{showOrMovie.name}}</h1>
    <div class="row">

        <div class="col-md-5">
            <img [src]="showOrMovie | movieImg:true" [alt]="showOrMovie.title" class="img-thumbnail img-fluid">
        </div>
        <div class="col-md-7">
            <h3>Synopsis</h3>
            <hr>
            <p class="text-justify">{{showOrMovie.overview}}</p>
            <p> Seasons: <span class="badge badge-primary">{{showOrMovie.number_of_seasons}}</span> </p>
            <p> Score: <span class="badge badge-primary">{{ showOrMovie.vote_average}}/10</span> </p>
            <button [routerLink]="['/'+this.route.params['page']]" routerLinkActive="router-link-active" type="button" class="btn btn-outline-danger">Back</button>
        </div>
    </div>
</div>
<!-- Movies -->
<div *ngIf="showOrMovie && !showOrMovie.first_air_date" class="container main-container animated fadeIn fast">
    <h1>{{showOrMovie.title}}</h1>
    <div class="row">

        <div class="col-md-5">
            <img [src]="showOrMovie | movieImg:true" [alt]="showOrMovie.title" class="img-thumbnail img-fluid">
        </div>
        <div class="col-md-7">
            <h3>Synopsis</h3>
            <hr>
            <p class="text-justify">{{showOrMovie.overview}}</p>
            <p>{{showOrMovie.tagline}}</p>
            <p> Score: <span class="badge badge-primary">{{ showOrMovie.vote_average}}/10</span> </p>
            <button [routerLink]="['/'+this.route.params['page']]" routerLinkActive="router-link-active" type="button" class="btn btn-outline-danger">Back</button>
        </div>
    </div>
</div>