<div class="container main-container">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label> Search:</label>
                <input (keyup.enter)="searchMovieOrShow()" [(ngModel)]="search" class="form-control" type="text" name="search" placeholder="Search a movie or TV show">

            </div>
        </div>
    </div>


    <div class="row">
        <div class="card-columns">
            <div class="card" *ngFor="let item  of moviesService.searchResults">

                <!-- TV  shows -->
                <img *ngIf="item.media_type=='tv'" class="card-img-top" [src]="item | movieImg " [alt]="item.original_name">
                <div *ngIf="item.media_type=='tv'" class="card-body">
                    <h5 class="card-title">{{item.original_name}}</h5>
                    <p class="card-text text-justify">{{item.overview | slice:0:250}}...</p>
                    <button type="button" class="btn btn-outline-primary btn-block ">See more</button>
                </div>

                <!-- Movies -->
                <img *ngIf="item.media_type=='movie'" class="card-img-top" [src]="item | movieImg " [alt]="item.original_title">
                <div *ngIf="item.media_type=='movie'" class="card-body">
                    <h5 class="card-title">{{item.original_title}}</h5>
                    <p class="card-text text-justify">{{item.overview | slice:0:250}}...</p>
                    <button type="button" class="btn btn-outline-primary btn-block ">See more</button>

                </div>

                <!-- Persons -->
                <img *ngIf="item.media_type=='person'" class="card-img-top" [src]="item | movieImg " [alt]="item.name">
                <div *ngIf="item.media_type=='person'" class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p *ngFor="let subItem of item.known_for" class="card-text ">{{subItem.title}}</p>
                </div>

            </div>
        </div>
    </div>

</div>